body{

  background-color: #355070;
}
.App {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Tile{
  height: 60px;
  width: 60px;
  background-color: #EAAC8B;
  margin: 5px;
  border-radius: 5px;

}

.checked{
  background-color: crimson;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 100%;
}
.input-key{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #f37f58;
  border-radius: 10px;
  height: 80px;
  width: 80px;
  background: #f37f58;
} 